body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://global.discourse-cdn.com/business7/uploads/greytip1/original/2X/f/fafc7d2e97da7b523a66861c8d015fb8defdb398.jpeg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.content {
    background-color: rgba(57, 51, 51, 0.7);
    padding: 20px;
    border-radius: 10px;
}

article {
    max-width: 800px;
    margin: 0 auto;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
}
.high img{
    border-radius: 30px;
    width: 170px;
    float: right    ;
}
.paper img{
    border-radius: 30px;
    width: 170px;
    float: left   ;
}
marquee{
    color: rgb(124, 10, 10);
    font-size: large;
    font-size: 300%;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
    height: 45px;
    line-height: 45px
    
}